<div class="gradient">
    <div class="d-flex justify-content-between align-items-start view mb-4">
        <div>
            <h6 class="mb-3">TOTAL FAMILY WEALTH</h6>
            <h5>2.58 CR</h5>
        </div>
        <div class="d-flex align-items-center">
            <h4 class="mb-0 me-2">+4</h4> <span>Member</span>
        </div>
    </div>
    <div class="d-flex next-view justify-content-between">
        <div>
            <h6 class="mb-3">Invested</h6>
            <h5>2,30,00,000</h5>
        </div>
        <div>
            <h6 class="mb-3">Gain/Loss</h6>
            <h5>+28,00,435 CR</h5>
        </div>
    </div>
</div>