<div class="row home-content">
    <div class="col-12 col-sm-12 col-md-8 ">
        <div class="row ">
            <div class="col-sm-12">
                <div class="row grad mb-2">
                    <div class="col-sm-12 d-flex justify-content-end align-items-center gradient">
                        <div>
                            <img src="assets\images\Notifications_Unread_Medium.png" alt="" class="me-4">
                            <img src="assets\images\support_agent-24px 1.png" alt="" class="me-4">
                        </div>
                        <div class="search-container">
                            <img src="assets/images/Search.png" alt="" class="search-icon">
                            <input type="text" class="search" placeholder="Search" title="Type in a name">
                        </div>
                    </div>
                    <div class="col-sm-12 mob-view  justify-content-center p-4 pb-0">
                        <img src="assets/svg/profile.svg" alt="" class="">
                        <p class="mt-2">Hello <span>Joy</span></p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-7 ps-0 pe-0 mb-3">
                        <app-gradient></app-gradient>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 ps-0 pe-0 mb-3">
                        <app-image-slider></app-image-slider>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <app-investment-info></app-investment-info>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4">
        <app-wealth-calendar></app-wealth-calendar>
    </div>
</div>